/* GERAL */
:root {
    --color-hue: 213;
    --light-color: hsl(var(--color-hue), 53%, 43%);
    --dark-color: hsl(var(--color-hue), 85%, 11%);
    --light-gray: hsl(var(--color-hue), 100%, 96%);
    --dark-gray: hsl(var(--color-hue), 10%, 17%);
    --trasition-time: 300ms;
}

html {
    scrollbar-width: 0;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    background: linear-gradient(
            236.85deg,
            var(--dark-color) 27.26%,
            var(--light-color) 96.03%
        )
        fixed;
}

nav .nav-link {
    padding: 0.5rem 0.6rem;
}

nav .nav-link,
nav .nav-link:hover,
nav .nav-link:-webkit-any-link {
    color: var(--light-gray);
}

nav input {
    width: 18.35rem;
}

main {
    margin: 2rem auto;
    padding: 1.71rem;
    width: min(750px, 90%);
    background: var(--light-gray);
    border-radius: 20px;
    box-shadow: 0 4px 4px var(--dark-gray);
}

main section .nav-link {
    width: fit-content;
    font-size: large;
}

main section .nav-link,
main section .nav-link:-webkit-any-link {
    color: var(--dark-gray);
}

/* PROJECTS */
main section iframe {
    width: 100%;
    aspect-ratio: 15/8;
}

/* RESUME */
main header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main header svg {
    transition: transform var(--trasition-time);
}

main header svg.rotate {
    transform: rotate(0.25turn);
}

main section li {
    font-size: large;
}

main section p + li {
    margin-top: 1rem;
}

main section p {
    margin-bottom: 0;
}

/* CONTACT */
main section section.nav {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

main section a svg {
    width: 2rem;
    height: auto;
}

@media (max-width: 621px) {
    nav.navbar {
        padding-top: 0;
        flex-direction: column-reverse;
        justify-content: center;
    }

    nav input {
        padding-block: 0.75rem;
    }

    main {
        margin: 1rem auto;
    }

    main section iframe {
        aspect-ratio: 3/4;
    }
}
